
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 20px;
}

.title-logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.title-logo h1{
    color: var(--ambar-dourado);
    font-weight: bolder;
    font-family: var(--fonte-principal); 
}

.login-container-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--verde-escuro);
    padding: 20px;
    
    border-radius: 20px;
    box-shadow: 1px 1px 7px rgb(39, 38, 38);
    height: 40%;
}

.login-container-form h2{
    color: var(--ambar-dourado);
    font-family: var(--fonte-principal);
    font-size: 28px;
    margin: 5px;
}



.container-form{
    display: flex;
    flex-direction: column;
    margin: 10px;

}

.container-form label{
    font-family: var(--fonte-principal);
    color: var(--marfin);
    font-weight: bolder;
    font-size: 25px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.container-form input{
    padding: 10px 20px;
    border-radius:15px ;
    font-size: 20px;
    border: none;
    outline: none;
    color: var(--ambar-dourado);
    background-color: var(--verde-medio);
    transition: background-color 1s ease-out;
}


.container-form input:hover{
    border: 1px solid var(--verde-escuro);
    transition: border 1s ease-in;
}

.container-form-btn{
    border-radius: 20px;
    padding: 10px 35px;
    font-size: 10px;
    border: none;
    margin: 10px;
    color: var(--marfin);
    background-color: var(--verde-medio);
    
}

.container-form-btn span{
    font-size: 20px;
    font-family: var(--fonte-principal);
    font-weight: bolder;
}

.link {
    font-family: var(--fonte-principal);
    color: var(--verde-medio);
    font-weight: 400;
    margin: 10px;
}

.link a{
    color: var(--verde-medio);
    text-decoration: none;
    font-weight: 500;
}

.link a:hover{
    font-weight: bolder;
    transform: scale(0.9);
    transition: font-weight 1s ease-in-out;
}