
.c-card-emprestimo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    margin: 10px ;
   padding: 10px;
   width: 250px;
  
    border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.s-emprestimo-body{
    margin: 5px;
    padding: 20px;
    display:grid;
    grid-template-columns: 1fr 1fr ;
}

.s-emprestimo-container{
  
    margin: 50px 20px;
}

.s-emprestimo{
    display: grid;
      background-color: var(--verde-medio);
    grid-template-columns: 1fr 1fr ;
    gap: 10px;
    padding: 5px;
    margin: 20px 10px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}


.s-emprestimo-container h1{
     text-align: left;
     margin: 20px;
     border: none;
     font-family: var(--fonte-principal);
    font-weight: 800;
    font-size: 25px;
    color: var(--verde-escuro);
}

.c-card-emprestimo img {
    height: 78px;
    border-radius: 5px;
}
.card-info-text{
    padding: 0px;
    text-align: left;
    font-family: var(--font-principal);
    font-weight: 700;
}

.card-info-text .c-emprestimo-text-author{
    color: var(--verde-medio);
    font-size: 15px;
    opacity: 80%;
}
.card-info-text .c-emprestimo-text-title{
    color:var(--verde-escuro);
    font-weight: 700;
    font-size: 17px;
}

.c-card-emprestimo h1, .c-card-emprestimo span, .c-card-emprestimo p{
    margin: 9px ;
    padding: 1px ;
}

.card-info-text .text-emprestimo-ongoing{
    color: var(--ambar-dourado);
    font-weight: 700;
    background-color: var(--badge-amarelo);
    font-family: var(--font-principal);
    font-size: 15px;
}


.card-info-text .text-emprestimo-vermelho{
    color: red;
    font-weight: 700;
    background-color: var(--badge-vermelho);
    font-family: var(--font-principal);
    font-size: 15px;
}

.card-info-text .text-emprestimo-verde{
    color: green;
    font-weight: 700;
    background-color: var(--badge-verde);
    font-family: var(--font-principal);
    font-size: 15px;
}

.date{
   font-size: 12px;
    color: var(--verde-escuro);
}