
body{
    margin: 0;
}


.h-navbar{
     display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-dark-green);
    align-items: center;
      box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.title-logo {
   display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.title-logo img{
    height: 50px;
    margin: 5px 15px;
}

.title-logo h1{
    color: var(--color-ivory);
    font-weight: bolder;
   
}

.icon-menu{
    margin: 20px;
    height: 70px;
    transform: scale(1.0);
    transition: transform 1s ease-out ;
}

.icon-menu:hover{
    transform: scale(0.9);
    transition: transform 1s ease-in;
}

.icon-close{
    transform: scale(1.0);
    transition: all 1s ease-out;
}

.icon-close:hover{
    transform: scale(0.9);
    transition: all 1s transform;
}

.c-icon-menu{
    background-color: transparent;
    border: none;
}
.h-container-actions-itens{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search-input-container{
    position: relative;
  
}

.search-input-container input {
  width: 100%;
  padding: 3px 40px 3px 15px; 
  border: none;
  border-radius: 10px;
  background: var(--color-mid-green);
  font-size: 18px;
  font-weight: bold;
  color: white;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}
.search-input-container input::placeholder {
  color: var(--color-ivory);
  font-family: var(--font-primary);
  font-weight: bold;
  font-size: 20px;
  opacity: 80%;
}

.search-input-container img {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none; 
}

.menu-right-container{
  position: fixed;
  top: 0;
  right: -300px; 
  width: 300px;
  height: 100%;
  background-color: var(--color-dark-green);
  box-shadow: -5px 0 10px rgba(0,0,0,0.2);
  transition: 0.3s;
  z-index: 999;
}

.menu-right-container.active{
    right: 0;
}

.body-menu a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body-menu h1{
    text-align: center;
    color: var(--color-ivory);
    margin-bottom: 50px;

}

.body-menu{
    margin: 10px;
}

.btns-menu a{
    text-decoration: none;
    color: var(--color-ivory);
    background-color: var(--color-mid-green);
    border: 1px solid var(--color-ivory);
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 28px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    transform: scale(1.0);
    transition: background-color 1s ease-out,
    transform 1s ease-out
    ;

}

.btns-menu a:hover{
    background-color: var(--color-dark-green);
    transform: scale(0.98);
    transition: transform 0.5s ease-in;
}


.menu-header{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
   

}

.menu-header h1{
    text-align: center;
    margin-top: 50px;
}
.menu-header img{
    height: 40px;
    margin: 0;

}

#close-menu{
    position: absolute;
    left: 15px;
    cursor: pointer;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 998;
}


#overlay.active {
  opacity: 1;
  visibility: visible;
}

.logout-container {
 position: fixed;
 left: 1;
 right: 1;
 bottom: 2rem;
}

.logout-container .log{
    padding: 5px 50px;
}