
/* Background */

body {
    background-color: var(--color-ivory);
    display: flex;         
    flex-direction: column;  
    min-height: 10vh;      
}

.body-page {
    flex: 1;                
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loan-section-title{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}


.btn-loan-container{
    display: flex;
    align-items: end;
    justify-content: end;
    flex-direction: row;
    margin-right: 90px;
   
}

.btn-loan{
    padding: 15px;
    border-radius: 20px;
    border: none;
    margin: 30px 20px;
    background-color: var(--color-dark-green);
     box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}
.btn-loan span{
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 20px;
    color: var(--color-ivory);
}


.sec-1{
    margin: 0;
}

