

.bookcase-container{
    display: flex;
     align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px 20px;
}



.btn-bookcase{
    padding: 20px;
    margin: 30px;
    border: none;
    border-radius: 20px;
    background-color: var(--cor-pastel-escuro-2);
    font-size: 20px;
    font-family: var(--fonte-principal);
    font-weight: 800;
    color: var(--cor-branco-fraco);
    box-shadow: var(--box-shadow);
  

}

.btn-bookcase:hover{
    background-color: var(--cor-marrom);
    transform: scale(1.1);
    cursor: pointer;
    transition: background-color 1s ease-in,
        transform 1s ease-in;
}

.c-btn-bookcase{
    display: flex;
    justify-content: center;
    align-self: flex-end;
    margin: 10px 20px;
    padding: 0px;
}


.bookcase-body{
     margin: 30px;
}
.title-bookase-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 10px;
}

.title-bookase-container h1{
    text-align: left;
    font-family: var(--fonte-principal);
    color: var(--cor-marrom);
    margin: 10px 5px;
}

.title-bookase-container span img{
    margin-left: 1px;
}
.title-bookase-container span img:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 1s ease-in-out;
}


.books-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--cor-pastel-clara);
    box-shadow: var(--box-shadow);
    border-radius: 20px;
}
.book{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-pastel-escuro);
    padding: 20px;
    border-radius: 20px;
    margin: 20px 10px;
    box-shadow: var(--box-shadow);
}


.book:hover{
    border:5px solid var(--cor-marrom);
    cursor: pointer;
    transform: scale(1.10);
    transition: 
        transform 1s ease-in-out
    ;
}


.book p{
    color: var(--cor-marrom);
    font-family: var(--fonte-principal);
    font-size: 22px;
    margin: 2px;
    font-weight: 700;
}
.book-info{
    display: flex;
    flex-direction: column;
    margin: 10px;

}