.modal-fines{}

.b-modal-fines{}

.select-fine-status{
    background-color: var(--color-bright-green);
    padding: 6px 12px;
    width: 470px;
    border-radius: 20px;
    color: white;
}
.modal-fines-field select{
}
.select-fine-status{

}
.modal-fines-actions{
    
}