.modal-fines{}

.b-modal-fines{}

.select-fine-status{
    background-color: var(--color-bright-green);
    padding: 5px 12px;
    width: 180px;
    border-radius: 20px;
    color: white;
}
.modal-fines-field{

}
.select-fine-status{

}
.modal-fines-actions{
    
}