.modal{
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow:auto;
    background-color: rgba(0, 0,0,0.4);
}



.c-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15% auto;
    padding: 20px;
    border-radius: 20px;
    width: 20%;
    height: 20%;
    background-color: var(--marfin);
}

.c-modal-btn{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    margin: 20px 2px;

}

.c-modal-btn button{
    display: flex;
    padding: 10px;
    background-color: var(--verde-medio);
    border: none;
    border-radius: 20px;
    font-family: var(--fonte-principal);
    color: var(--marfin);
    font-weight: bolder;
    border: 2px solid var(--marfin);

}


.c-modal-btn button:hover{
    background-color: var(--verde-escuro);
    transition: background-color 1s ease-in-out;
}

.b-modal h1{
    text-align: center;
    color: var(--verde-escuro);
    font-family: var(--fonte-principal);
    margin: 20px;
}

.f-input-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
   
}

.f-input-modal label {
    font-family: var(--fonte-principal);
    color: var(--verde-escuro);
    font-weight: bolder;
    margin: 5px 20px;
    text-align: left;
    
   
}

.f-input-modal input {
  
    background-color: var(--verde-vivo);
    padding: 7px 12px;
    border-radius: 15px;
    border: none;
}