.c-profile{
    display: flex;
    flex-direction: column;

    margin: 15% 35%;
    border: none;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--verde-escuro);
    box-shadow: var(--box-shadow);
}

.c-profile h3{
    margin: 8px;
    text-align: left;
    color: white;
     padding:0;
     transform: scale(1);
     transition: transform 1s ease-out;
}

.c-profile h3:hover{

    transform: scale(1.05);
    transition: all 1s ease-in;
}

.btn-back{
    margin: 30px;
    border: none;
    padding: 10px;
    color: var(--marfin);
    background-color: var(--verde-medio);
    font-weight: 700;
    font-family: var(--fonte-principal);
    font-size: 30px;
    border-radius: 20px;
    transition: background-color 1s ease-in-out;
}
.btn-back:hover{
    background-color: var(--verde-escuro);
    transition: all 1s ease-in-out;
}

