:root{
    --cor-marrom: #332211;
    --cor-branco-fraco:#CFCCCC;
    --cor-branco-fraco-2: #ADADAD;
    --fonte-principal: 'League Spartan', sans-serif;
    --cor-pastel: #A39664;
    --cor-pastel-clara:#C7C0A4;
    --cor-pastel-escuro: #91865A;
    --cor-pastel-escuro-2: #7C724D;
    --cor-pastel-escuro-3: #A7A18C;
    --box-shadow: 0 4px 6px rgba(0,0,0,0.2); /*  box-shadow: 0 4px 6px rgba(0,0,0,0.2);*/

}


/* Footer global    */

footer{
    position: static;
    bottom: 0;
    background-color: var(--cor-marrom);
    width: 100%;   
    margin-top: 100px;
}

footer h1{
    text-align: center;
    color: var(--cor-branco-fraco);
    font-family: var(--fonte-principal);
    font-weight: 800;
}





