.stock-actions{
     display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-right: 55px;
   
  
}

.btn-add {
    margin: 0 5px;
    padding: 10px 10px;
    font-weight: 700;
    border-radius: 20px;
    border: none;
    color: var(--color-ivory);
    background-color: var(--color-mid-green);
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    transform: scale(1);
    transition: background-color 1s ease-out,
                transform 1s ease-out;
}

.btn-add:hover{
    cursor: pointer;
    background-color:  var(--color-dark-green);
    transform: scale(1.1);
    transition: all 1s ease-in;

}


.search-stock{

    width: 200px;
}
.search-stock input{
    height: 30px;
}