.stock-actions{
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 0 40px;
}

.btn-add {
    padding: 10px 20px;
    margin: 0 20px;
    font-weight: 700;
    border-radius: 20px;
    border: none;
    color: var(--color-ivory);
    background-color: var(--color-mid-green);
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    transform: scale(1);
    transition: background-color 1s ease-out,
                transform 1s ease-out;
}

.btn-add:hover{
    cursor: pointer;
    background-color:  var(--color-dark-green);
    transform: scale(1.1);
    transition: all 1s ease-in;

}

.table-header-stock{
    gap: 20px;
}

.search-stock{
    padding: 5px;
    width: 200px;
}
.search-stock input{
    height: 30;
}