
.table-header-loans{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
   
}

 .table-header-loans h1 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-left: 90px;
    width: 100%;
 }


.table-loans {
    display: row;
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: var(--card-shadow);
}


.search-loans input {  
    width: 100%;
    padding: 12px 40px 12px 15px; 
    border: none;
    border-radius: 10px;
    background: var(--color-mid-green);
    font-size: 18px;
    font-weight: bold;
    color: white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}