
.table-title-c-emprestimos{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
   
}

 .table-title-c-emprestimos h1 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-left: 90px;
    width: 100%;
 }


.tbl-emprestimo {
    display: row;
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: var(--card-shadow);
}


.search-emprestimo input {  
    width: 100%;
    padding: 12px 40px 12px 15px; 
    border: none;
    border-radius: 10px;
    background: var(--verde-medio);
    font-size: 18px;
    font-weight: bold;
    color: white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}