

.loans-actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}


 .table-header-loans {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 90%;
 }





.table-loans {
    display: row; 
    border-collapse: collapse;
    border-radius: 20px;
  
}

.search-loans{
       display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: row;
    /* width: 100%; */
}

.search-loans input {  

    padding:5px 10px; 
    margin: 0 60px;
    border: none;
    width: 200px;
    border-radius: 10px;
    background: var(--color-mid-green);
    font-size: 18px;
    font-weight: bold;
    color: white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}
.search-loans input::placeholder {
  
    opacity: 0.7;
    color: var(--color-ivory);
}