
.table-container {
    margin: 50px 0;
    text-align: center;
}
.table-container h1 {
    font-family: var(--fonte-principal);
    font-weight: 900;
    font-size: 32px;
    color: var(--verde-escuro);
    margin-bottom: 3px;
}
.table-title-c{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
    margin-bottom: 20px;
}


