
.table-container {
    margin: 5px 0 0px 0;
    text-align: center;
    
}
.table-container h1 {
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 30px;
    color: var(--color-dark-green);
    margin-left: 4%;
}
.table-title-c{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    
}


